<style type="text/css">
.ngViecLam a:hover{
 /*background-color: #225588;*/
 border-color: #ddd;
 -webkit-box-shadow: -1px -1px 10px 0px rgba(50, 50, 50, 0.52);
-moz-box-shadow:    -1px -1px 10px 0px rgba(50, 50, 50, 0.52);
box-shadow:         -1px -1px 10px 0px rgba(50, 50, 50, 0.52);
}
.ngThumb img{
  max-height:180px;width:100%;
}
@media (min-width: 768px) {
  .ngThumb:hover{
    margin:-10px;
}
}
</style>
<div class="container" ng-show="authending"> <!-- Hiển thị loading khi đang kiểm tra -->
  <div class="jumbotron" style="text-align:center;border-radius:0px;">
    <i class="fa fa-5x fa-spinner fa-spin"></i>
    <h3>Đang tải . . .</h3>
  </div>
</div>
<div class="container ngViecLam" style="margin-top:30px;" ng-hide="authending">
<div class="row">
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" ui-sref="trangChu.dangViecLam-khac" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>

  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" ui-sref="trangChu.dangViecLam-giaSu" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>

  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>

  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <a href="#" class="thumbnail ngThumb">
      <img src="/img/avatar.jpg" class="img-responsive" alt="Ohviec">
    </a>
  </div>
</div>
</div>